body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: rgb(180, 69, 69);
    color: white;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    background-color: gray;
    outline: 2px solid white;
}
#book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #backListBook-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.book {
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  background-color:gray;
  outline: 2px solid white;
}

.book-title {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.book-details {
    margin-bottom: 5px;
}

.book-cover {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  