body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: white;
  color: gray;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
img{
  width: 275px;
  height: 340px;
}

#introduction-section {
  padding: 20px;
  text-align: justify;
  /* background-color: #f5f5f5; */
  background-color: white;
  margin-bottom: 40px;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.4);
}

#introduction-section h1, h3 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(188, 54, 54);
  
}
#introduction-section h1 {
  text-decoration: underline gray;
}

#introduction-section a {
  color: rgb(188, 54, 54);
  text-decoration: none;
}

#introduction-section a:hover {
  color: #4caf50;
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 25px;
}

.sectionHeader {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.3);
  color: rgb(188, 54, 54);
}
section, #newRel {
  background-color: white;
}

#backList {
  background-color: white;
}
#book-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#backListBook-container {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book {
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 1px solid #ccc;
  padding: 25px;
  box-sizing: border-box;
  transform: translateY(5px);
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.4);
}
.book-title {
  font-weight: bold;
  font-size: 1.1em;
  margin: 10px 0 0 0;
}

.book-subtitle {
  font-weight: normal;
  margin: 0; 
  padding-bottom: 20px;
}
.book-details {
  margin-bottom: 5px;
}

.book-cover {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#contact-section {
  margin-top: 40px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#contact-form label {
  margin: 5px 0;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
}

#contact-form input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}
